@model IEnumerable<Eliza.Models.Receita>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idReceita }) |
            @Html.ActionLink("Details", "Details", new { id=item.idReceita }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idReceita })
        </td>
    </tr>
}

</table>
